.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  // border: 1px solid black;
  padding: 1%;
  color: #5f5151;
  margin: 1%;
  background-color: #f3f2ea;
}
